@import 'core/settings';
@import 'layout/header';
@import 'layout/content';
@import 'layout/offer';
@import 'layout/footer';

*{  
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	color: $color-secondary;
	background-color: $color-primary;
}

.title {
	font-family: $font-title;
}

.text {
	font-family: $font-text;

}
