<section class="offer">
    <h1 class="title title__main">3 Reasons to Purchase</h1>
    <div class="wrapper">
        <div class="reason-1">
            <p class="text text--bold">Ut sed metus</p>
            <p class="text text__content">Lorem ipsum, dolor sit amet consectetur.</p>
        </div>
        <div class="reason-2">
            <p class="text text--bold">Zombie ipsum</p>
            <p class="text text__content">Reversus ab viral inferno, nam rick.</p>
        </div>
        <div class="reason-3">
            <p class="text text--bold">Morbi dictum</p>
            <p class="text text__content">Lorem ipsum, dolor sit amet consectetur.</p>
        </div>
    </div>
    <a href="#" class="btn btn--lg">More reasons</a>

</section>