<section class="offer">
    <h1 class="title title-offer">3 Reasons to Purchase</h1>
    <div class="wrapper">
        <div class="reason area-1">
            <h2 class="text bold">Ut sed metus</h2>
            <p class="text text-offer">Lorem ipsum, dolor sit amet consectetur.</p>
        </div>
        <div class="reason area-2">
            <h2 class="text bold">Curabitur ac erat</h2>
            <p class="text text-offer">Mauris mattis urna quis lorem molestie.</p>
        </div>
        <div class="reason area-3">
            <h2 class="text bold">Morbi dictum</h2>
            <p class="text text-offer">Aliquam in dolor et dolor tincidunt.</p>
        </div>
    </div>

    <a href="#" class="btn btn--lg"><span class="btn__span">More reasons</span></a>


    <a href="#hero" class="icon up">
        <img src="assets/images/ico-arrow.svg" alt="scroll-up"
    class="icon__up"></a>

</section>