<section class="offer">
    <h1 class="title title__offer">3 Reasons to Purchase</h1>
    <div class="wrapper">
        <div class="reason">
            <p class="text text--bold">Ut sed metus</p>
            <p class="text text__offer">Lorem ipsum, dolor sit amet consectetur.</p>
        </div>
        <div class="reason">
            <p class="text text--bold">Curabitur ac erat</p>
            <p class="text text__offer">Mauris mattis urna quis lorem molestie.</p>
        </div>
        <div class="reason">
            <p class="text text--bold">Morbi dictum</p>
            <p class="text text__offer">Aliquam in dolor et dolor tincidunt.</p>
        </div>
    </div>
    <a href="#" class="btn btn--lg"><span class="btn__span btn__span--lg">More reasons</span></a>

</section>