.main-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    height: 376px;
    width: 100%;
}

.box-wide {
    margin: 30px 15px 45px;
}

.text__cat {
    color: $color-bcg;
    font-size: 14px;
    margin-bottom: 1px;
}

.title__main {
    color: $color-secondary;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.text__content {
    color: $color-complement;
    margin-bottom: 30px;
}



