.main-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    height: 376px;
    width: 100%;
}

.box-wide {
    margin: 30px 15px 45px;
}

.text__cat {
    color: $color-bcg;
    font-size: 14px;
    margin-bottom: 1px;
    font-weight: 400;
}

.title__content {
    color: $color-secondary;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.text__content {
    color: $color-complement;
    margin-bottom: 30px;
    text-align: justify;
    line-height: 30px;
}

.btn {
    @include btn;
    .btn__span {
        line-height: 2;
    }
}

.btn--sm {
    color: $color-icon;
    width: 76px;

}



