.hero {
    background-image: url(../images/cover.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: 568px;
    width: 100%;
}

.box-title {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title__hero {
    color: $color-primary;
    font-family: $font-title;
    text-transform: uppercase;
    text-align: center;
    font-size: 42px;
    width: 290px;
    padding-bottom: 10px;
}

.text-hero {
    font-family: $font-text;
    color: $color-primary;
    text-align: center;
    font-size: 16px;
    width: 290px;
}




.icon {
    height: 45px;
    width: auto;
    &.icon__menu {
        // background: url(../images/ico-menu.svg);
        
        position: fixed;
        top: 0;
        left: 0;

    }
}