

.burger-box {
    width: 44px;
    height: 44px;
    background-color: $burger-color;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    background-image: url(../images/cover.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: 568px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.box-title {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title__hero {
    color: $color-primary;
    font-family: $font-title;
    text-transform: uppercase;
    text-align: center;
    font-size: 42px;
    width: 290px;
    padding-bottom: 10px;
}

.text-hero {
    font-family: $font-text;
    color: $color-primary;
    text-align: center;
    font-size: 16px;
    width: 290px;
    padding-bottom: 45px;
    font-weight: 400;
}

.icon__menu {
    width: 16px;
    height: 14px;
}

.icon {
    @include icon;

}
.icon__down {
    width: 20px;
}