.offer {
    background-color: $color-bcg;
    height: 624px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title__offer {
    color: $color-secondary;
    font-size: 24px;
    text-transform: capitalize;
    padding-top: 30px;
    margin-bottom: 45px;
    text-align: center;
}

.wrapper{
    text-align: center;
    margin: 0 55px;
}

.reason {
    width: 180px;
    line-height: 1.67;
    padding-bottom: 45px;
}
.text--bold {
    font-weight: 700;
    font-size: 18px;
}

.text-offer {
    font-size: 18px;
}

.btn--lg {
    width: 184px;
    background-color: $color-icon;
    color: $color-primary;
    
}

.btn__span--lg {
    font-weight: 400;
}

.up {
    position: relative;
    top: 3em;
}