$color-white: #f3f4f5;

  $greyish-brown: #4a4a4a;
  $dark-grey-blue: #304268;
  $white: #ffffff;
  $black: #000000;
  $orange: #f26002;
  $light-blue: #8ccbea;

  $color-primary:$white;
  $color-secondary:$black;
  $color-tertiary: $dark-grey-blue;
  $color-complement: $greyish-brown;
  $color-icon: $orange;
  $color-bcg:  $light-blue;

$font-text: Roboto, sans-serif;
$font-title: Roboto Slab, serif;


